.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 20px;
}

.search-bar img{
    height: 46px;
    padding: 9px;
    cursor: pointer;
    background-color: #ebfffc;
    border-radius: 50%;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}

.weather-icon{
    width: 150px;
    margin: 30px 0px;
}

.Temperature{
    color:#fff;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 35px;
}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 9px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 14px;
}

.weather-data .col img{
    width:35px;
    margin-top: 10px;
}